ESP32/AegisSpace Telemetry Pipeline.json
{
  "name": "AegisSpace Telemetry Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "aegis-telemetry",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b33bd2be-e207-4f9d-b28f-eff902e3d067",
      "name": "ESP32 Telemetry Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        160,
        288
      ],
      "webhookId": "a52c27db-5965-4de7-ac64-1942a5f4fbff"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body ?? $input.first().json;\nconst device_id = String(body.device_id ?? 'esp32-001');\nconst temperature = parseFloat(body.temperature ?? 0);\nconst voltage = parseFloat(body.voltage ?? 0);\nconst current = parseFloat(body.current ?? 0);\nconst gyro_x = parseFloat(body.gyro_x ?? 0);\nconst gyro_y = parseFloat(body.gyro_y ?? 0);\nconst gyro_z = parseFloat(body.gyro_z ?? 0);\nif (!/^esp32-[a-zA-Z0-9\\-]+$/.test(device_id)) { throw new Error('Invalid device_id: ' + device_id); }\nif (isNaN(temperature) || isNaN(voltage) || isNaN(current)) { throw new Error('temperature / voltage / current must be numeric'); }\nconst reasons = [];\nif (temperature >= 85) reasons.push('CRITICAL temperature (' + temperature.toFixed(1) + 'C)');\nelse if (temperature >= 70) reasons.push('High temperature (' + temperature.toFixed(1) + 'C)');\nif (voltage < 3.0) reasons.push('Low voltage (' + voltage.toFixed(2) + 'V)');\nelse if (voltage > 5.5) reasons.push('Overvoltage (' + voltage.toFixed(2) + 'V)');\nif (current > 2.0) reasons.push('Overcurrent (' + current.toFixed(3) + 'A)');\nconst gyroMag = Math.sqrt(gyro_x**2 + gyro_y**2 + gyro_z**2);\nif (gyroMag > 250) reasons.push('High angular rate (' + gyroMag.toFixed(1) + ' deg/s)');\nconst deviceFlagged = body.is_anomaly === true || body.is_anomaly === 'true';\nconst is_anomaly = deviceFlagged || reasons.length > 0;\nconst anomaly_reason = is_anomaly ? (body.anomaly_reason || reasons.join('; ') || 'Flagged by device') : null;\nlet rule_severity = 'normal';\nif (temperature >= 85 || voltage < 3.0 || current > 2.0) rule_severity = 'critical';\nelse if (is_anomaly) rule_severity = 'warning';\nreturn [{ json: { device_id, temperature, voltage, current, gyro_x, gyro_y, gyro_z, is_anomaly, anomaly_reason, rule_severity } }];"
      },
      "id": "f9791479-07a9-41d8-a91a-4665e1a3b6d6",
      "name": "Validate & Detect Anomaly",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        384,
        288
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "JSON.stringify({ ok: false, error: $input.first().json.message ?? \"Validation failed\" })",
        "options": {
          "responseCode": 400
        }
      },
      "id": "01f4961b-11a4-4f7d-b771-42ace7b00308",
      "name": "Respond 400 Validation Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        384,
        592
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ JSON.stringify($json) }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an expert aerospace telemetry analyst for AegisSpace. Analyze ESP32 sensor data. Return ONLY raw JSON with fields: is_anomaly (bool), severity (normal/warning/critical), anomaly_reason (string), confidence (0-1)."
        }
      },
      "id": "e7219af4-c3af-49c8-91b3-22b862425675",
      "name": "AI Anomaly Detector",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        784,
        160
      ],
      "retryOnFail": true,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.2
        }
      },
      "id": "36430a0a-c00b-4e44-89f2-174aef2435ea",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        720,
        640
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "8TZj1VW326LXLLrQ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "id": "b9cbb7f2-021c-4914-9e68-93313fa704a7",
      "name": "Calculator Tool",
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        928,
        640
      ]
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\"type\":\"object\",\"properties\":{\"is_anomaly\":{\"type\":\"boolean\"},\"severity\":{\"type\":\"string\",\"enum\":[\"normal\",\"warning\",\"critical\"]},\"anomaly_reason\":{\"type\":\"string\"},\"confidence\":{\"type\":\"number\"}},\"required\":[\"is_anomaly\",\"severity\",\"anomaly_reason\",\"confidence\"]}"
      },
      "id": "af6bdc62-e992-4d02-bd75-ebff23fc19e7",
      "name": "Structured Anomaly Output",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1152,
        656
      ]
    },
    {
      "parameters": {
        "jsCode": "const v = $('Validate & Detect Anomaly').first().json;\nconst ai = $json;\nconst is_anomaly = ai.is_anomaly === true || String(ai.is_anomaly).toLowerCase() === 'true';\nconst severity = String(ai.severity || 'normal').toLowerCase();\nconst anomaly_reason = String(ai.anomaly_reason || 'No explanation provided');\nconst confidence = Number(ai.confidence || 0);\nconst ai_status = ai.ai_status || 'active';\nreturn [{ json: { device_id: v.device_id, temperature: v.temperature, voltage: v.voltage, current: v.current, gyro_x: v.gyro_x, gyro_y: v.gyro_y, gyro_z: v.gyro_z, is_anomaly, anomaly_reason, severity, confidence, ai_status } }];"
      },
      "id": "40dc85c7-e030-48d9-b1b0-3f232c64ed6a",
      "name": "Merge AI Analysis",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        112
      ]
    },
    {
      "parameters": {
        "jsCode": "const v = $('Validate & Detect Anomaly').first().json;\nconsole.warn('[AEGIS] Gemini unavailable for device=' + v.device_id);\nreturn [{ json: { is_anomaly: v.is_anomaly, severity: v.rule_severity ?? (v.is_anomaly ? 'warning' : 'normal'), anomaly_reason: v.anomaly_reason ?? 'Fallback: ' + v.anomaly_reason, confidence: 0.6, ai_status: 'fallback' } }];"
      },
      "id": "ce3aac16-d087-42e4-ac58-70740ad57431",
      "name": "AI Fallback (Rule-Based)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        -48
      ]
    },
    {
      "parameters": {
        "tableId": "telemetry_data",
        "dataToSend": "autoMapInputData"
      },
      "id": "9561dd05-32dd-491e-88a7-4287873cd2b2",
      "name": "Insert to Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1376,
        272
      ],
      "credentials": {
        "supabaseApi": {
          "id": "iN7NOpjZ0yjy5WKH",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "anomaly-check",
              "leftValue": "={{ $('Merge AI Analysis').item.json.is_anomaly }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4a74cb64-332c-468f-986b-3956ec77bd2c",
      "name": "Is Anomaly?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1600,
        272
      ]
    },
    {
      "parameters": {
        "jsCode": "const d = $('Merge AI Analysis').first().json;\nconsole.warn('[AEGIS ANOMALY] ID: ' + d.device_id + ' | SEVERITY: ' + d.severity + ' | REASON: ' + d.anomaly_reason);\nreturn [{ json: { logged: true, device_id: d.device_id, severity: d.severity, reason: d.anomaly_reason } }];"
      },
      "id": "3b9000f0-b92d-4a96-8801-42c5004539b0",
      "name": "Log Anomaly Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1824,
        192
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, is_anomaly: $('Merge AI Analysis').item.json.is_anomaly, severity: $('Merge AI Analysis').item.json.severity, confidence: $('Merge AI Analysis').item.json.confidence } }}",
        "options": {
          "responseCode": 201
        }
      },
      "id": "25abd9fc-f6ba-4c5d-b0d3-d368bdeacfaf",
      "name": "Respond 201 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2048,
        304
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "ESP32 Telemetry Webhook": {
      "main": [
        [
          {
            "node": "Validate & Detect Anomaly",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate & Detect Anomaly": {
      "main": [
        [
          {
            "node": "AI Anomaly Detector",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Respond 400 Validation Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Anomaly Detector": {
      "main": [
        [
          {
            "node": "Merge AI Analysis",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Fallback (Rule-Based)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Anomaly Detector",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Calculator Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Anomaly Detector",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Structured Anomaly Output": {
      "ai_outputParser": [
        [
          {
            "node": "AI Anomaly Detector",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Merge AI Analysis": {
      "main": [
        [
          {
            "node": "Insert to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Fallback (Rule-Based)": {
      "main": [
        [
          {
            "node": "Merge AI Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert to Supabase": {
      "main": [
        [
          {
            "node": "Is Anomaly?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Anomaly?": {
      "main": [
        [
          {
            "node": "Log Anomaly Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond 201 OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Anomaly Alert": {
      "main": [
        [
          {
            "node": "Respond 201 OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": true,
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "1e4aeb51-1a87-4e1c-b79a-5410c504d57e",
  "meta": {
    "aiBuilderAssisted": true,
    "templateCredsSetupCompleted": true,
    "instanceId": "3f0967c0efb309d3bfd24a939498f9859b6a72daf17606ca9633e4e0c1bb6ba9"
  },
  "id": "3rLfmAsw2ZLAaJnj",
  "tags": [
    {
      "updatedAt": "2026-04-14T06:46:17.620Z",
      "createdAt": "2026-04-14T06:46:17.620Z",
      "id": "5EF9SNPe3HffsI1A",
      "name": "aegisspace"
    }
  ]
}