public/AegisSpace Telemetry Pipeline (1).json
{
  "name": "AegisSpace Telemetry Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "aegis-telemetry",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "aegis-telemetry"
    },
    {
      "parameters": {
        "jsCode": "// ── Validate & sanitise incoming ESP32 payload ──────────────────────────\nconst body = $input.first().json.body ?? $input.first().json;\n\nconst device_id   = String(body.device_id   ?? 'esp32-001');\nconst temperature = parseFloat(body.temperature ?? 0);\nconst voltage     = parseFloat(body.voltage     ?? 0);\nconst current     = parseFloat(body.current     ?? 0);\nconst gyro_x      = parseFloat(body.gyro_x      ?? 0);\nconst gyro_y      = parseFloat(body.gyro_y      ?? 0);\nconst gyro_z      = parseFloat(body.gyro_z      ?? 0);\n\n// device_id format guard\nif (!/^esp32-[a-zA-Z0-9\\-]+$/.test(device_id)) {\n  throw new Error(`Invalid device_id: ${device_id}`);\n}\n\n// numeric guard\nif (isNaN(temperature) || isNaN(voltage) || isNaN(current)) {\n  throw new Error('temperature / voltage / current must be numeric');\n}\n\n// Anomaly detection (defence-in-depth over ESP32 on-device check)\nconst reasons = [];\nif (temperature >= 85)       reasons.push(`CRITICAL temperature (${temperature.toFixed(1)}C)`);\nelse if (temperature >= 70)  reasons.push(`High temperature (${temperature.toFixed(1)}C)`);\nif (voltage < 3.0)           reasons.push(`Low voltage (${voltage.toFixed(2)}V)`);\nelse if (voltage > 5.5)      reasons.push(`Overvoltage (${voltage.toFixed(2)}V)`);\nif (current > 2.0)           reasons.push(`Overcurrent (${current.toFixed(3)}A)`);\nconst gyroMag = Math.sqrt(gyro_x**2 + gyro_y**2 + gyro_z**2);\nif (gyroMag > 250)           reasons.push(`High angular rate (${gyroMag.toFixed(1)} deg/s)`);\n\nconst deviceFlagged  = body.is_anomaly === true || body.is_anomaly === 'true';\nconst is_anomaly     = deviceFlagged || reasons.length > 0;\nconst anomaly_reason = is_anomaly\n  ? (body.anomaly_reason || reasons.join('; ') || 'Flagged by device')\n  : null;\n\nreturn [{\n  json: {\n    device_id,\n    temperature,\n    voltage,\n    current,\n    gyro_x,\n    gyro_y,\n    gyro_z,\n    is_anomaly,\n    anomaly_reason,\n    _raw_body: body\n  }\n}];\n"
      },
      "id": "validate-node",
      "name": "Validate & Detect Anomaly",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://uidfafhxwjrdxngicaro.supabase.co/rest/v1/telemetry_data",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey",        "value": "={{ $env.SUPABASE_ANON_KEY }}" },
            { "name": "Authorization", "value": "={{ 'Bearer ' + $env.SUPABASE_ANON_KEY }}" },
            { "name": "Content-Type",  "value": "application/json" },
            { "name": "Prefer",        "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { device_id: $json.device_id, temperature: $json.temperature, voltage: $json.voltage, current: $json.current, gyro_x: $json.gyro_x, gyro_y: $json.gyro_y, gyro_z: $json.gyro_z, is_anomaly: $json.is_anomaly, anomaly_reason: $json.anomaly_reason, severity: $json.severity ?? ($json.is_anomaly ? 'warning' : null), confidence: $json.confidence ?? null } }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "supabase-insert-node",
      "name": "Insert to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "anomaly-check",
              "leftValue": "={{ $('Validate & Detect Anomaly').item.json.is_anomaly }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-anomaly-node",
      "name": "Is Anomaly?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "jsCode": "// Log anomaly for audit trail\n// Extend this node to add: Slack, email, PagerDuty, etc.\nconst d = $('Validate & Detect Anomaly').item.json;\nconsole.log(`[ANOMALY] device=${d.device_id} reason=\"${d.anomaly_reason}\" temp=${d.temperature} V=${d.voltage}`);\nreturn [{ json: { logged: true, device_id: d.device_id, reason: d.anomaly_reason } }];\n"
      },
      "id": "anomaly-log-node",
      "name": "Log Anomaly",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, is_anomaly: $('Validate & Detect Anomaly').item.json.is_anomaly }) }}",
        "options": { "responseCode": 201 }
      },
      "id": "respond-node",
      "name": "Respond 201",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: false, error: $input.first().json.message ?? 'Validation failed' }) }}",
        "options": { "responseCode": 400 }
      },
      "id": "error-respond-node",
      "name": "Respond 400",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 500]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Validate & Detect Anomaly", "type": "main", "index": 0 }]]
    },
    "Validate & Detect Anomaly": {
      "main": [[{ "node": "Insert to Supabase", "type": "main", "index": 0 }]],
      "error": [[{ "node": "Respond 400", "type": "main", "index": 0 }]]
    },
    "Insert to Supabase": {
      "main": [
        [
          { "node": "Is Anomaly?",           "type": "main", "index": 0 }
        ]
      ]
    },
    "Is Anomaly?": {
      "main": [
        [{ "node": "Log Anomaly", "type": "main", "index": 0 }],
        [{ "node": "Respond 201", "type": "main", "index": 0 }]
      ]
    },
    "Log Anomaly": {
      "main": [[{ "node": "Respond 201", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "meta": { "templateCredsSetupCompleted": true },
  "pinData": {},
  "versionId": "aegisspace-v2",
  "triggerCount": 1,
  "tags": [{ "name": "aegisspace" }]
}
